.table-filter .form-group{
	margin: 0px !important;
}


#alertCountBadge a{
	float:right;
	padding: 12px 0px !important;
	color : #049fd9;
}
#alertCountBadge a i{
	color : #049fd9;
}
.nav.nav-tabs #alertCountBadge .badge{
	border-color: #049fd9; 
}


#alertCountBadge.critical #alertCountBadgeCount{
	color : #cf2030;
}
#alertCountBadge.critical a i{
	color : #cf2030;
}
.nav.nav-tabs #alertCountBadge.critical .badge{
	border-color: #cf2030; 
}


#serverStatsHistory .label{
	min-width: 50px !important; 
	max-width: 50px !important; 
}

#serverStatsHistory tr td{
	font-size : 10px;
}



#cameraStatsHistory.dataTable .label{
	min-width: 30px !important;
	font-size: 7px !important;
}

#cameraStatsHistory.dataTable .datetime{
	font-size: 10px !important;
}

#cameraStatsHistory.dataTable .description{
	font-size: 10px !important;
}


#serverErrorsPanel{
	padding-top:5px !important;
}